/* CSS RESET AUTHOR http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/*
 *    CSS GOES BELOW
 */

body{
  font-family: "Roboto", sans-serif;
}
.members-header {
  background-color: #26A69A;
  min-height: 50vh;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 32px;
}

header p {
  font-size: 20px;
  margin-top: 32px;
}

.search {
  background-color: #EEEEEE;
  padding: 16px;
  border-radius: 2px;
}
.search input[name="search"] {
  background-color: transparent;
  border: 0px;
  width: 70%;
}

.add-person {
  background-color: #00BAFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 16px;
  display: block;
  width: 80px;
  color: white;
  margin-top: 16px;
  font-size: 20px;
  text-decoration: none;
}

.container {
  padding: 16px;
}

.song {
  display:none;
}

.member-list h2 {
  font-size: 26px;
  margin-bottom: 16px;
}

.member-list li {
  border-top: #E8E8E8 solid 1px;
  padding: 24px 0px;
}

.member-list h4 {
  margin: 8px 0px;
}

.add-member input, .add-member textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  margin: 12px 0px;
  box-sizing: border-box;
}
