<section class="container" id="addMember">
  <form class="add-member" action="/add-member" method="post">
    <label for="addMemberName">Name</label>
    <input id="addMemberName" type="text" name="name" value="" placeholder="Enter name here">

    <label for="addMemberPosition">Position</label>
    <input id="addMemberPosition" type="text" name="position" value="" placeholder="Enter position here">

    <label for="addMemberLocation">Location</label>
    <input id="addMemberLocation" type="text" name="location" value="" placeholder="Enter location here">

    <label for="addMemberDescription">Description</label>
    <textarea id="addMemberDescription" name="description" rows="8" cols="80" placeholder="Enter description here"></textarea>

    <label for="addMemberLanguages">Language</label>
    <input id="addMemberLanguages" type="text" name="languages" placeholder="Enter languages here">

    <input type="submit" name="" value="Add Member">
  </form>
</section>
